#colorpage {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    color:antiquewhite;
    text-shadow: 4px 4px 8px black;
}

#colorpage a {
    color: antiquewhite;
    text-shadow: 2px 2px 3px black;
}